@media screen and (min-width: 500px) {

    .hero article {
        top: 13%;
        left: 10%;
        width: 45%;
        height: 10%;
    }

    .card {
        grid-template-columns: auto auto;
    }

}