/* ...all pages... */

:root {
    --heading-font: Rokkitt, serif;
    --paragraph-font: Manjari, sans-serif;
}

header {
    display: flex;
    background-color: #DAF7FF;
    color: #000;
}

header p {
    color:#000;
    font-family: var(--heading-font);
}

.headerpic {
    padding: 10px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    flex: 1;
}

h1, h2, h3{
    font-family: var(--heading-font);
}

h2 {
    color:#000;
    margin: 0 0 0 20px;
}


main p {
    font-family: var(--paragraph-font);
    color: #000;
}

#menu {
    display: block;
    font-size: 1.5rem;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.active::before {
    content: "➲ ";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
    max-width: 500px;
    padding-top: 20px;
    color: #fff;
    float: right;
}

.navigation li {
    display: none;
}

.navigation.open li {
    display: block;
}

.navigation a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.navigation.open {
    background-color: darkgreen;
    justify-content: center;
    padding: 10px;
    flex: 1;
}

nav a {
    text-decoration: none;
}

.navigation a:hover {
    font-weight: 700;
    background-color: #000;
    border: #fff solid 2px;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.social {
    align-items: center;
}

footer {
    font-size: .75em;
    background-color: darkgreen;
}

footer h4, p, a {
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: var(--paragraph-font);
}

/* ...home page... */

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
}

.hero article {
    position: absolute;
    background-color: #DAF7FF;
    z-index: 3;
    top: 20%;
    left: 15%;
    width: 45%;
    height: 18%;
    padding-top: .8em;
    opacity: .8;
    box-sizing: border-box;
    }

.hero article p {
    font-family: var(--heading-font);
    font-size: 1em;
    font-weight: 700;
}

.action a {
    color: blue;
    font-family: var(--heading-font);
}

h3 {
    background-color: #000;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: center;
}



figcaption {
    font-family: var(--paragraph-font);
    font-size: .85em;
    text-align: center;
}

.info-box, .weather-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    align-items: stretch;
}

.events, .weather, .forecast {
    flex: 1;
    padding: 10px;
    background-color: #DAF7FF;
    margin: 0 auto;
    box-sizing: border-box;
    margin:  10px;
}

#current-temp , #today-temp, #tomorrow-temp, #day-three-temp {
    font-size: larger;
    font-weight: 900;
    margin-bottom: 10px;
}

/* not working */
.weather-box {
    align-items: stretch;
}

.weather-image, .weather-info {
    flex: 1;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* not working */
.weather-image img {
    align-items: center;
}

.forecast p {
    padding-bottom: 20px;
}

#condition {
    padding-bottom: 10px;
}

